.todo-item {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 30px 20px 0;
    width:70%;
    border-bottom:1px solid #cecece;
    font-family: Roboto, sans-serif;
    font-weight:100;
    font-size:15px;
    color: #333333;

}

input[type=checkbox] {
    margin-right:10px;
}

.contacts {
    align-items: center;
    padding: 30px 20px 0;
    width:70%;
    border-bottom:1px solid #cecece;
    font-family: Roboto, sans-serif;
    font-weight:100;
    font-size:15px;
    color: #333333;

}

.contact-card {
    align-items: center;
    padding: 30px 20px 0;
    width:70%;
    border-bottom:1px solid #cecece;
    font-family: Roboto, sans-serif;
    font-weight:100;
    font-size:15px;
    color: #333333;

}